<head>
<link href="~/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>

<h1 class = "ok">Welcome to the Shipping Service.</h1>

<div>
<a href='/parcels/new'><h3>Add a new parcel</h3></a>
</div>
<div>
<a href='/parcels'><h3>See list of parcels</h3></a>
</div>
</body>