<link href="~/css/styles.css" rel="stylesheet" type="text/css" />


<form action="/singleparcel" method="post">
  <label for="ParcelWeight">Add weight of Parcel</label>
  <input id="ParcelWeight" name="ParcelWeight" type="text">
  <label for="ParcelHeight">Add Height of Parcel</label>
  <input id="ParcelHeight" name="ParcelHeight" type="text">
  <label for="ParcelLength">Add Length of Parcel</label>
  <input id="ParcelLength" name="ParcelLength" type="text">
  <label for="ParcelWidth">Add width of Parcel</label>
  <input id="ParcelWidth" name="ParcelWidth" type="text">
  <button type="submit">Submit</button>
</form>