<form action="/singleparcel" method="post">
  <label for="ParcelHeight">Add Height of Parcel</label>
 
  <input id="ParcelHeight" name="ParcelHeight" type="text">
  <label for="Weight">Add weight off Parcel</label>
  <input id="ParcelWeight" name="ParcelWeight" type="text">
  <label for="ParcelLength">Add Length off Parcel</label>
  <input id="ParcelLength" name="ParcelLength" type="text">
  <label for="ParcelWidth">Add width off Parcel</label>
  <input id="ParcelWidth" name="ParcelWidth" type="text">
  <button type="submit">Submit</button>
</form>