@using Shipping.Models;
@using System.IO;

<link href="~/css/styles.css" rel="stylesheet" type="text/css" />

<body>
<h1>Parcel Volume and Cost To Ship</h1>
@foreach (var item in Model)
{
    <li> Parcel ID: @item.ID</li>
    <li> Volume of Parcel: @item.totalVolume</li>
    <li> Cost of Parcel: $ @item.totalPrice</li>
    <br>
}
<div>
<a href='/parcels/new'><h3>Add a new parcel</h3></a>
</div>
<div>
<a href='/findParcels'><h3>Find package by ID</h3></a>
</div>
</body>