@using Shipping.Models;
@using System.IO;

<link href="~/css/styles.css" rel="stylesheet" type="text/css" />


<h1>Parcel Volume and Cost To Ship</h1>
@foreach (var item in Model)
{
     <li> Parcel ID: @item.ID</li>
    <li> Volume of Parcel: @item.returnVolume()</li>
    <li> Cost of Parcel: @item.returnPrice()</li>
}

<a href='/parcels/new'>Add a new parcel</a>
<a href='/findParcels'>Find package by ID</a>