@using Shipping.Models;
@using System.IO;

<link href="~/css/styles.css" rel="stylesheet" type="text/css" />


<h1>Found Parcel</h1>
<li> Parcel ID: @Model.ID</li>
<li> Total Volume: @Model.returnVolume()</li>
<li> Total Price: $ @Model.returnPrice()</li>

<a href='/parcels/new'>Add a new parcel</a>
<a href='/parcels'>See list of parcels</a>