@using Shipping.Models;
@using System.IO;

<link href="~/css/styles.css" rel="stylesheet" type="text/css" />

<body>
<h1>Parcel Volume and CostToShip</h1>
<li> Total Volume: @Model.totalVolume</li>
<li> Total Price: @Model.totalPrice</li>

<div>
<a href='/parcels/new'><h3>Add a new parcel</h3></a>
</div>
<div>
<a href='/parcels'><h3>See list of parcels</h3></a>
</div>


</body>