<link href="~/css/styles.css" rel="stylesheet" type="text/css" />
<h1> Couldn't find your package </h1> 
<a href='/parcels/new'><h3>Add a new parcel</h3></a>
</div>
<div>
<a href='/parcels'><h3>See list of parcels</h3></a>