@using Shipping.Models;
@using System.IO;

<link href="~/css/styles.css" rel="stylesheet" type="text/css" />


<h1>Parcel Volume and CostToShip</h1>
<li> Total Volume: @Parcel.totalVolume</li>
<li> Total Price: @Parcel.totalPrice</li>

<a href='/parcels/new'>Add a new parcel</a>
<a href='/parcels'>See list of parcels</a>